<h1>Celebrities</h1>
<p>Go to <a href="/celebrities">Celebrities list</a>.</p>
<p><a href="/celebrities/new">Add</a> a new celebrity</p>
<hr><br>
<h1>Movies</h1>
<p>Go to <a href="/movies">movies</a> list.</p>
<p><a href="/movies/new">Add</a> a new movie.</p>